extends layout

block content
    .page
        .title #{title}
        .content
            img(src="images/logo.png", title="logo.png")

    .page
        .title #{title}简介
        .content
            h4 为什么要使用SVN？
            p 程序员在编写程序的过程中，每个程序员都会生成很多不同的版本，这就需要程序员有效的管理代码，在需要的时候可以迅速，准确取出相应的版本。
            h4 Subversion是什么？
            p 它是一个自由/开源的版本控制系统，一组文件存放在中心版本库，记录每一次文件和目录的修改，Subversion允许把数据恢复到早期版本，或是检查数据修改的历史，Subversion可以通过网络访问它的版本库，从而使用户在不同的电脑上进行操作。

    .page
        .title 参考书籍
        .content
            a(href="books/版本控制之道-使用Subversion.pdf", class="btn btn-primary intro-shelf") 下载中文版电子书
            a(href="books/Pragmatic Version Control using Subversion, 2nd Edition.pdf", class="btn intro-shelf") 下载英文版电子书
            img(src="images/pragmatic_version_control_using_subversion_2nd_edition.jpg",alt="pragmatic_version_control_using_subversion_2nd_edition.jpg", class="pull-right book-image")

    .page
        .title 下载#{title}客户端TortoiseSVN
        .content
            img(src="images/tortoisesvn_logo.png", title="tortoisesvn_logo.png")
            .pull-right
                a(href="https://tortoisesvn.net/downloads.html", class="btn intro-shelf") 官网下载
                a(href="apps/TortoiseSVN-1.9.4.27285-x64-svn-1.9.4.msi", class="btn btn-primary intro-shelf") 本站下载

    .page
        .title 安装TortoiseSVN
        .content
            - var n = 1
            ul
                while n <= 7
                    li
                        img(src="images/install_0#{n}.png", alt="install_0#{n}.png")
                    - n++

    .page
        .title 安装后验证
        .content
            p win+r 输入cmd, 打开命令提示符。再在里边输入 svn -h如果成功则出现如下图所示：(后边命令行方式启动svn服务器要用到，如果未找到则需要在 系统|高级系统设置|高级|环境变量|系统变量|Path 值后添加";C:\Program Files\TortoiseSVN\bin")
            img(src="images/install_08.png", alt="install_08.png")


    .page
        .title 安装后文件管理器鼠标右键变化
        .content
            p 在打开的文件管理器，找一文件夹，点击右键会发现弹出菜单多出几项如下图所示
            img(src="images/install_09.png", alt="install_09.png")

    .page
        .title 命令行方式创建和运行服务器
        .content
            ol
                li 确保系统|高级系统设置|高级|环境变量|系统变量|Path 值后添加";C:\Program Files\TortoiseSVN\bin"
                li win+r 打开命令行
                li 执行命令行创建svn仓库：svnadmin create SVN_REPO
                li 执行命令行运行svn服务(注意不要关闭命令窗口)：svnserve -d -r SVN_REPO
            img(src="images/service.PNG", alt="servcie start")

    .page
        .title 配置用户和权限
        .content
            p.
                来到SVN_REPO\conf目录，修改svnserve.conf：<br>
                # [general]<br>
                # password-db = passwd<br>
                改为：<br>
                [general]<br>
                    password-db = passwd<br>
                然后修改同目录的passwd文件，去掉下面三行的注释：<br>
                # [users]<br>
                # harry = harryssecret<br>
                # sally = sallyssecret<br>
                最后变成：<br>
                [users]<br>
                harry = harryssecret<br>
                sally = sallyssecret<br>
                在passwd文件中，“=”前的字符就是用户名，后面的就是密码。还要注意“[users]”前面的注释“#”一定要删除掉。
            h2 更改配置后要重启服务

    .page
        .title SVN权限管理
        .content
            p.
                svn的权限管理涉及到一下文件：<br>
                passwd文件   --   /conf目录下   用于存放本svn库的用户名和密码，用 = 分割，左边是用户名，右边是密码（明文）。 <br>
                authz   --   /conf目录下   用于存放本svn库的访问授权信息。 <br>
                SVNserve.conf   /conf目录下   用于存放本svn库的全局访问控制信息。<br>
                最重要的是authz文件，它定义了两部分的内容：<br>
                1，对组成员的定义，<br>
                2，对目录的授权定义，<br>
                可以针对一个单一用户授权，也可以针对在[groups]里面定义的一个组授权，还可以用*通配符来对所有的用户授权，<br>
                授权的选项有：只读访问('r'),读写访问('rw'),或者无权防问(''). <br>
                authz文件中可以对任意多个目录进行权限控制，一下是一个例子：<br>
                [groups]<br>
                # 注释行,定义了admin和ph两个组以及两个组的成员 <br>
                admin = harry,sally<br>
                ph = hy,jim<br>
                [/foo/bar]<br>
                harry = rw<br>
                # 以*为键值意味着对所有人都进行权限控制 <br>
                * = <br>
                # 以@为键值意味着对前面定义的组进行授权 <br>
                @admin = rw <br>

    .page
        .title 图形化svn服务器
        .content
            p
                a(href="http://www.cnblogs.com/armyfai/p/3985660.html") 参照这里

    .page
        .title eclipse安装svn插件
        .content
            - var n = 1
            ul
                while n < 6
                    li
                        img(src="images/eclipse_svn_plugin_0#{n}.png", alt="eclipse_svn_plugin_0#{n}.png")
                    - n++

    .page
        .title eclipse里将项目共享
        .content
            - var n = 1
            ul
                while n < 10
                    li
                        img(src="images/eclipse_team_0#{n}.png", alt="eclipse_team_0#{n}.png")
                    - n++
                while n < 11
                    li
                        img(src="images/eclipse_team_#{n}.png", alt="eclipse_team_#{n}.png")
                    - n++

    .page
        .title eclipse提交代码
        .content
            - var n = 1
            ul
                while n < 5
                    li
                        img(src="images/eclipse_commit_0#{n}.png", alt="eclipse_commit_0#{n}.png")
                    - n++

    .page
        .title eclipse添加忽略规则
        .content
            - var n = 1
            ul
                while n < 5
                    li
                        img(src="images/eclipse_ignore_0#{n}.png", alt="eclipse_ignore_0#{n}.png")
                    - n++